.gamespage {

	.game-title {
		color: #000000;
        margin-top: 50px;
        margin-bottom: 30px;
        padding-bottom: 15px;
        position: relative;
        margin-left: 100px;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, #EB5804 0%, rgba(0, 0, 0, 0) 90%);
        }
    }
	&__desc{
		margin-left: 100px;
		display: flex;
		padding-bottom: 50px;
	}
	&__img{
        min-width: 35%;
		min-height: 500px;
		max-height: 500px;
		object-fit: fill;
    }
	&__rightlist{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 100px;
        
        .section {
            &__title {
                color: #EB5804;
                font-weight: 700;
                font-size: 25px;
                margin-bottom: -5px;
            }
    
            &__description {
                color: #000000;
                font-size: 18px;
                line-height: 30px;
            }
        }
	}
  
}